@model Models.EF.tblTINTUC

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header
{
    Thêm tin tức
}

@section jsFooter
{
   <script>
       $('#btnSelectImage').on('click',function(e)
       {
           e.preventDefault();
           var finder = new CKFinder();
           finder.selectActionFunction = function (url) {
               $('#txtImage').val(url);
           };
           finder.popup();
       })

       var editor = CKEDITOR.replace('txtNoiDung', {
           customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
           htmlEncodeOutput: true
       });
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập đầy đủ thông tin tin tức
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Create", "TinTuc", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tieude)
                                    @Html.TextBoxFor(model => model.tieude, new { @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.tomtat)
                                    @Html.TextAreaFor(model => model.tomtat, new { @class = "form-control", @height = "100px" })
                                </div> 

                                <div class="form-group">
                                    @Html.LabelFor(model => model.noidung)
                                    @{
                                    if (Model != null && !string.IsNullOrEmpty(Model.noidung))
                                    {
                                        Model.noidung = System.Web.HttpUtility.HtmlDecode(Model.noidung);
                                    }

                                    }
                                    @Html.TextAreaFor(model => model.noidung, new { @class = "form-control",id="txtNoiDung" })
                                </div>

                                <p>
                                    @Html.LabelFor(model => model.hinhanh) &nbsp;
                                    @Html.TextBoxFor(model => model.hinhanh, new { @class = "textbox", id = "txtImage" })
                                    <a id="btnSelectImage" href="#">Chọn ảnh</a>

                                    </p>
                               
                                <p>
                                <p>
                                    <button type="submit" class="btn btn-info">Thêm mới</button>

                                </p>
                               
                            </fieldset>
                        }
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
