@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model TravelOnline.Models.TourViewModel
@section header
{
    Thêm tour mới
}

@section jsFooter
{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtChiTietTour', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
            htmlEncodeOutput: true
        });

        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Select a date",
                text: false
            });
        })
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập đầy đủ thông tin tour
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "Tour", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                             @Html.HiddenFor(model => model.matour)

                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tentour)
                                    @Html.TextBoxFor(model => model.tentour, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.chitiettour)
                             
                                    @{
                                        if (Model != null && !string.IsNullOrEmpty(Model.chitiettour))
                                        {
                                            Model.chitiettour = System.Web.HttpUtility.HtmlDecode(Model.chitiettour);
                                        }
                                    }
                                    @Html.TextAreaFor(model => model.chitiettour, new { @class = "form-control", id = "txtChiTietTour" })
                                </div>
                                <p>
                                    @Html.LabelFor(model => model.hinhanh) &nbsp;
                                    @Html.TextBoxFor(model => model.hinhanh, new { @class = "textbox", id = "txtImage" })
                                    <a id="btnSelectImage" href="#">Chọn ảnh</a>
                                </p>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.socho)
                                    @Html.TextBoxFor(model => model.socho, new { @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.giatour)
                                    @Html.TextBoxFor(model => model.giatour, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <p> @Html.LabelFor(model => model.khoihanh) </p>
                                    @Html.TextBoxFor(model => model.khoihanh,"{0:yyyy-MM-dd}", new { @class = "textbox jqueryui-marker-datepicker" })
                                </div>
                                <div class="form-group">
                                    <p>@Html.LabelFor(model => model.ketthuc) </p>
                                    @Html.TextBoxFor(model => model.ketthuc,"{0:yyyy-MM-dd}", new { @class = "textbox jqueryui-marker-datepicker" })
                                </div>

                                <p style="margin-top:20px; margin-bottom:20px">
                                    @Html.LabelFor(model => model.madd)
                                    @Html.DropDownListFor(model => model.madd, null, new { @class = "textbox" })
                                </p>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phuongtien)
                                    @Html.TextBoxFor(model => model.phuongtien, new { @class = "form-control" })
                                </div>

                                <p>
                                    <button type="submit" class="btn btn-info">Sửa tour</button>

                                </p>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


